*{
    padding: 0px;
    margin: 0px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 20px;
    font-size: 18px;
  }
  
  input[type="number"],
  textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: rgb(245,245,245);
      border: 2px solid rgb(226,226,226);
      outline: none;
      border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  h1{
      margin: 50px;
      color: rgba(0, 0, 255, 0.493);
      text-align: center;
    }
    body {
        font-family:sans-serif;
        margin: 0;
        background-color: rgba(0, 255, 255, 0.097);
    }